<div id="friends">
<p><%= link_to "Invite Your Facebook Friends", "#", :id => "invite_fb_friends" %></p>

<div id="fb-root"></div>

<script src="http://connect.facebook.net/en_US/all.js"></script>

<script>
$(function(){
	$("a#invite_fb_friends").click(function() {
		FB.init({ 
			appId:'410180965688077', 
			cookie:true, 
			status:true
		});
		FB.ui({ method: 'apprequests', message: 'Welcome to SugarCube.'});
	});
});
</script>
<div>
	<%= link_to "Done", root_url, :class => "btn btn-primary" %>
</div>