<div class="span12">
    <ul class="nav nav-pills pull-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li style="padding: 8px 12px 8px 12px; color: #c5c5c5;">&copy; 2012 SugarCube</li>
    </ul>
</div>
